<html>
    <head>
        <title>Мой первый блог</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Мой первый блог</a></h1>
        </div>

        <div>
            <p>Опубликовано: 20.10.2017, 13:27</p>
            <h2><a href="">Мой первый пост</a></h2>
            <p>Всем привет! Я создал свой первый блог! И с сегодняшнего дня я буду вести здесь свой дневник!</p>
        </div>

        <div>
            <p>Опубликовано: 20.10.2017, 13:27</p>
            <h2><a href="">Мой второй пост</a></h2>
            <p>Всем привет! Я создал свой первый блог! И с сегодняшнего дня я буду вести здесь свой дневник!</p>
        </div>
    </body>
</html>
